/*CSS RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERICS*/
body {
    font-family: sans-serif;
}

/*UTILITES*/
.container {
    max-width: 1200px;
    margin: 0 auto;
}

/*COLS*/
.col-3 {
    border: 2px solid black;
    border-radius: 5px;
    background-color: azure;
    font-size: 20px;
    color: cornflowerblue;
    height: 600px;
    width: 200px;
}

